<!DOCTYPE root[<!ELEMENT simpleContentPage ANY>
<!ATTLIST simpleContentPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1065" key="aa2839dc-c575-405a-b530-0de4c234cf51" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-11-14T21:48:51" updateDate="2018-11-14T21:58:44" nodeName="Homepage" urlName="homepage" path="-1,1065" isDoc="" nodeType="1061" creatorName="Andrew" writerName="Andrew" writerID="0" template="1060" nodeTypeAlias="homePage" isPublished="false">
    <bodyText><![CDATA[<p>Hello world! Welcome to the hairsaloon</p>
<p>"Hairsaloon 2018"</p>]]></bodyText>
    <pageTitle><![CDATA[Welcome to Hairsaloon]]></pageTitle>
    <footerText><![CDATA["Copyright Hairsaloon 2018"]]></footerText>
    <simpleContentPage id="1071" key="d08b505a-40b4-48e2-9cf0-6215c522c658" parentID="1065" level="2" creatorID="0" sortOrder="0" createDate="2018-11-14T23:38:00" updateDate="2018-11-14T23:55:07" nodeName="Contact Us" urlName="contact-us" path="-1,1065,1071" isDoc="" nodeType="1070" creatorName="Andrew" writerName="Andrew" writerID="0" template="1069" nodeTypeAlias="simpleContentPage" isPublished="false">
      <pageTitle><![CDATA[Contact us please (This is written from the Simple Content Page)]]></pageTitle>
      <bodyText><![CDATA[<p>Here you could enter a contact form so the customer could order a haircut (written from the Simple Content Page)</p>]]></bodyText>
    </simpleContentPage>
  </homePage>
</root>